body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}

.header {
  background-color: #38474D;
}

.logo img {
  display: inline-block;
  padding: 30px 0  20px 60px;
}

.header ul {
  display: inline-block;
}

.header li {
  display: inline-block;
}

.logo li {
  padding-right: 30px;
}

.logo a {
  color: white;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.logo a:hover {
  text-decoration:ss underline;
  text-decoration-color: #69BBB7;
  color: #848A90;
}

.cta {
  text-align: right;
  padding: 20px 40px 0 0;
}

.cta ul {
  padding-top: 20px;
}

.cta li {
  padding-right: 10px;
}

.cta a {
  color: #848A90;
  text-transform: capitalize;
  font-weight: lighter;
}

#get-started {
  color: white;
  background: #69BBB7;
  padding: 12px 18px;
  border-radius: 4px;
  margin-left: 5px;
}

#get-started:hover {
  background: rgba(105, 187, 183, .8);
  text-decoration: none;
}

.intro {
  background: url("../images/ironyard-background.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  padding: 20% 2%;
  color: white;
}

.intro h1 {
  font-size: 6rem;
  font-weight: bold;
}

.intro h2 {
  font-size: 2.4rem;
}

.intro .video {
  margin-top: 2%;
}

.intro a {
  color: white;
  font-size: 2rem;
  background: #69BBB7;
  padding: 20px 18px;
  border-radius: 4px;
}

.intro a:hover{
  background: rgba(105, 187, 183, .9);
  text-decoration: none;
}

.intro i {
  font-size: 4rem;
}

.news {
  background: #EEEEEE;
  padding: 0 3%;
  text-align: center;
}

.news img {
  height: 90px;
}

.courses {
  padding: 5%;
}

.courses h3 {
  color: #717D83;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: bolder;
  line-height: 1.5;
}

.course p {
  font-size: 1.8rem;
  color: #38474D;
  line-height: 1.8;
}

form {
  background: #EBEBEB;
  padding: 8% 6% 10%;
  border-radius: 10px;
}

.send-me h6 {
  color: #38474D;
  font-size: 1.4rem;
  font-weight: bold;
}

.send-me p {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 2;
}

  button {
  background: #69BBB7;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 2%;
  padding: 10px 0;
  font-size: 1.8rem;
}

.discover {
  background: #EEEEEE;
  text-align: center;
  padding: 2% 0 6%;
}

.discover h2 {
  color: #808D92;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2;
}

.discover p {
  font-size: 1.9rem;
  line-height: 1.5;
}

.discover-courses {
  margin-top: 2%;
}

.discover-courses h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
}

.front-course h3 {
  color: #D1823E;
}

.back-course h3 {
  color: #BB574F;
}

.mobile-course h3 {
  color: #D4B349;
}

.ui-course h3 {
  color: #26A1AB;
}

.stories {
  padding: 4%;
  color: #828F94;
}

.main-story h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  /*font-weight: bold;*/
}

.main-story p {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 8% 0 4%;
}

.main-story h4 {
  display: inline;
  font-weight: bold;
}

.main-story h5 {
  display: inline;
  font-size: 1.7rem;
}

.main-story .stories-button {
  color: #FFFFFF;
  background: #69BBB7;
  text-align: center;
  font-size: 1.8rem;
  width: 60%;
  padding: 3% 4%;
  border-radius: 4px;
  margin: 6% 0;
}

.student {
  text-align: center;
}

.student img {
  height: 100px;
  border-radius: 50%;
  border: 4px solid #DE802F;
  text-align: right;
}

.student p {
  padding: 8% 0 2%;
  font-size: 1.8rem;
  text-align: left;
  font-weight: lighter;
}

.student h3 {
  color: #69BBB7;
  font-size: 2.2rem;
  font-weight: bold;
}

.student h4 {
  font-size: 2rem;
  font-weight: lighter;
}

.employers {
  background: url("../images/employers-image.jpg") no-repeat center;
  background-size: cover;
  color: #FBFBFB;
  text-align: center;
  padding: 4% 12%;
}

.employers h2 {
  font-size: 3.4rem;
  font-weight: bold;
  padding-bottom: 3%
}

.employers p {
  font-size: 1.8rem;
  line-height: 2;
}

.employers img {
  height: 100px;
}

.employer {
  margin: 16% 0 8%;
}

.employer a {
  background: #69BBB7;
  color: white;
  font-size: 1.8rem;
  padding: 2% 8%;
  border-radius: 5px;
}

.employers a:hover {
  background: rgba(105, 187, 183, .8);
  text-decoration: none;
}

.questions {
  padding: 4% 4%;
}

.questions h4 {
  color: #828F94;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.questions h3 {
  color: #828F94;
  font-size: 3rem;
  font-weight: bold;
}

.questions p {
  color: #3C4B50;
  font-size: 1.8rem;
  line-height: 1.8;
  padding-top: 2%;
}

.questions h6 {
  color: #38474D;
  font-weight: bold;
  font-size: 1.8rem;
}

.question {
  padding: 6% 10%;
}

.question p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: lighter;
}

.footer {
  background: #38474D;
  color: white;
  padding: 2% 4%;
}

.footer ul {
  list-style: none;
  padding: 0%;
}

.footer-about h5{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-about a {
  color: #9BA7AB;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: lighter;
}

.footer-link a {
  color: white;
  text-transform: uppercase;
  line-height: 2;
}

.footer-logo {
  text-align: right;
}

.footer-logo p {
  font-size: 1.1rem;
  color: #B5B7BD;
  letter-spacing: 1px;
}

.footer-logo a {
  color: #B5B7BD;
}
